<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>南宁驾校统一平台训练场分布图</title>
    <meta name="description" content="南宁驾校统一平台训练场分布图" />
    <meta name="keywords" content="南宁驾校统一平台训练场分布图" />
    <meta name="searchtitle" content="南宁驾校统一平台训练场分布图" />
    <meta http-equiv="Content-Type " content="text/html; charset=gb2312" />
    <meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="MobileOptimized" content="240" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta name="baidu-site-verification" content="ZK2EdcboS3" />
    <meta name="wap-font-scale" content="no">
    <link rel="apple-touch-icon" href="javascript:void(0)/images/57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="javascript:void(0)/images/72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="javascript:void(0)/images/114.png" />
    <link rel="apple-touch-icon" sizes="145x145" href="javascript:void(0)/images/145.png" />
    <script src="__STATIC__js/jquery.js" type="text/javascript"></script>
    <script src="__STATIC__js/jquery.plugins.js" type="text/javascript"></script>
    <script type="text/javascript" src="__STATIC__js/global.js?ver=10508"></script>

    <script type="text/javascript" src="__STATIC__js/strophe.js?ver=10508"></script>
    <script type="text/javascript" src="__STATIC__js/json2.js?ver=10508"></script>
    <script type="text/javascript" src="__STATIC__js/easemob.im-1.0.7.js?ver=10508"></script>
    <script type="text/javascript" src="__STATIC__js/easemob.im.config.js?ver=10508"></script>
    <script type="text/javascript" src="__STATIC__js/IM.js?ver=110508"></script>

    <link href="__STATIC__/css/global.css?ver=10508" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/css/IM.css?ver=10508" rel="stylesheet" type="text/css" />


    <script src="__STATIC__js/jquery.cookie.js" type="text/javascript"></script>
    <script type="text/javascript" src="__STATIC__js/index.js?ver=10508" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="__STATIC__js/add2home.js" charset="utf-8"></script>
    <link href="__STATIC__/css/index.css?ver=10508" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/css/add2home.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/css/MobileDropDown.css" rel="stylesheet" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=FkY6tDV2G7d7T4c32YmMbyDClfpQzkUb"></script>
    <script type="text/javascript" src="__STATIC__js/GlogalGeolocation.1.js?ver=10508"></script>
    <link rel="stylesheet" href="__STATIC__/css/idangerous.swiper.css" />

    <script src="__STATIC__js/idangerous.swiper.min.js" type="text/javascript"></script>

</head>
<body>