



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>【专用组销售代表（深圳）】汕头海信发展有限公司 深圳招聘网触屏版</title>
    <meta name="description" content="专用组销售代表（深圳）招聘信息，深圳招聘网是深圳本地知名人力资源网站，为您提供全面的职位招聘信息，找工作，就上专用组销售代表（深圳）触屏版" />
    <meta name="keywords" content="深圳专用组销售代表（深圳）招聘信息" />
    <meta name="searchtitle" content="深圳专用组销售代表（深圳）招聘信息" />
    <meta http-equiv="Content-Type " content="text/html; charset=gb2312" />
    <meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="MobileOptimized" content="240" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta name="baidu-site-verification" content="ZK2EdcboS3" />
    <meta name="wap-font-scale" content="no">
    <link rel="apple-touch-icon" href="javascript:void(0)/images/57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="javascript:void(0)/images/72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="javascript:void(0)/images/114.png" />
    <link rel="apple-touch-icon" sizes="145x145" href="javascript:void(0)/images/145.png" />
    <script src="__STATIC__/js/jquery.js" type="text/javascript"></script>
    <script src="__STATIC__/js/jquery.plugins.js" type="text/javascript"></script>
    <script type="text/javascript" src="__STATIC__/js/global.js?ver=10508"></script>
      
    <script type="text/javascript" src="__STATIC__/js/strophe.js?ver=10508"></script>
    <script type="text/javascript" src="__STATIC__/js/json2.js?ver=10508"></script>
    <script type="text/javascript" src="__STATIC__/js/easemob.im-1.0.7.js?ver=10508"></script>
    <script type="text/javascript" src="__STATIC__/js/easemob.im.config.js?ver=10508"></script>
    <script type="text/javascript" src="__STATIC__/js/IM.js?ver=110508"></script>
    
    <link href="../../../../../public/static/css/global.css?ver=10508" rel="stylesheet" type="text/css" />
    <link href="/__STATIC__/static/css/IM.css?ver=10508" rel="stylesheet" type="text/css" />
    
    
    <script type="text/javascript" src="__STATIC__/js/showent.js?ver=10508"></script>
    <script type="text/javascript" src="/__STATIC__/js/jw.js?ver=10508"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=41dadfa7a2bf30faa65c6526acfa0937"></script>
    <script type="text/javascript" src="__STATIC__/js/GlogalGeolocation.1.js?ver=10508"></script>
    <meta id="ctl00_share" content="我在百城求职宝看到 #专用组销售代表（深圳）# 职位很不错，您也来看看哦！详情点击:http://m.stzp.cn/jw/showjob_3492996.aspx"><meta id="ctl00_url" content="http://m.stzp.cn/jw/showjob_3492996.aspx"><meta id="ctl00_title" content="专用组销售代表（深圳）"><meta id="ctl00_entsn" content="23398"><meta id="ctl00_jobsn" content="3492996">
    <script type="text/javascript">
        function GetShare() {
            ReturnMsgToAndroid($("#ctl00_share")[0].content);
        }
    </script>

</head>
<body>
    <form name="aspnetForm" method="post" action="./showjob_3492996.aspx" id="aspnetForm">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUIODUyMzkxNzJkZBOTImiknzQiZMLRWV98ea6fc/CMIjXq10iNwdvPCQ4k" />
</div>


<script src="__STATIC__/js/WeixinUtil.1.0.js?ver=10508" type="text/javascript"></script>
<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="5888D334" />
</div>
        <div id="loadings">
            <div>
                页面加载中
            </div>
        </div>
        
        <div id="Div1" class="header">
            <a href="javascript:void(0)/index.aspx">
                <img src="img/0755.png" style="height: 40px" alt="深圳招聘网" />
            </a>
            <div id="ctl00_login_btn" class="login_btn loginicon">
                <a style="padding-left: 30px;" href="javascript:void(0)/login/jwlogin.aspx">登录</a> |
                <a href="javascript:void(0)/ChooseReg.aspx">注册</a>
            </div>
            <a href="javascript:void(0)../#" id="ctl00_userName" class="userName"></a>
        </div>
        
        <div id="EntPage">
        </div>
        <div class="fullscreen">
            
    
    <div id="ctl00_ContentPlaceHolder1_panNew">
	
        <link href="__STATIC__/css/EntV1.css?ver=10508" rel="stylesheet" type="text/css" />
        <div class="WhiteBox">
            <div class="JobTop">
                <span class="Name">
                    专用组销售代表（深圳）
                    <span class="PeopleCount">
                        (1人)</span>
                </span>
                <a href="javascript:void(0)/JobBaike/Details.aspx?sitecode=0755&jobtypeid=12003" ><img class="Baike" src='img/baike.png' /></a>
                <span class="Time">
                    <i class="DateIcon"></i>
                    26分钟前
                </span>
                <div class="clearfix">
                    <div class="Item">
                        <i class="WorkplaceIcon"></i>
                        深圳龙岗区
                    </div>
                    <div class="Item">
                        <i class="ExprIcon"></i>
                        无
                    </div>
                    <div class="Item">
                        <i class="EduIcon"></i>
                        中专以上
                    </div>
                    <div class="Item">
                        <i class="JobKindIcon"></i>
                        全职
                    </div>
                </div>
            </div>
            <div class="JobInfo">
                <div class="Item">
                    <div class="LTitle">住宿：</div>
                    提供住宿
                </div>
                <div class="Item">
                    <div class="LTitle">年龄：</div>
                    20岁以上-35岁以下
                </div>
                <div class="Item">
                    <div class="LTitle">性别：</div>
                    不限【懒人模板制作】
                </div>
                <div class="Money">
                    面议
                </div>
            </div>
            <a href="javascript:void(0)/jw/showent_23398.aspx?FairId=0" id="ctl00_ContentPlaceHolder1_entLink" class="EntTop clearfix" style="border: none; margin-top: 10px;">
                <img src="http://pic.hr0755.com/uploadfiles/entlogo/130711182537661352.jpg" id="ctl00_ContentPlaceHolder1_imgLogo" class="Logo" alt="企业logo" />
                <div class="Name" style="padding-right: 45px;">
                    汕头海信发展有限公司
                    <div class="geo_warp">
                    </div>
                </div>
                <div class="Summary">
                    石油/化工/原材料/石化
                    民营企业/100—200人/1000万－5000万
                </div>
            </a>
        </div>
        <div class="WhiteBox"><div class="Title EntMedals">保障福利</div><div class="Medals clearfix"><div class="Item">高薪职位</div><div class="Item">年假</div><div class="Item">年终奖</div><div class="Item">工作餐</div><div class="Item">公费培训</div><div class="Item">标准工时</div><div class="Item">优质企业</div><div class="Item">社会保险</div><div class="Item">环境优雅</div></div></div>
        <div class="WhiteBox">
            <div class="Title Requirement">
                职位要求
            </div>
            <div class="Content">
                <br/><br/>职责描述：负责公司塑料原料销售市场的开拓，目标客户的寻找，渠道的维护。&nbsp;<br/><br/>任职要求：<br/>1、性别不限，年龄20~35周岁；<br/>2、思维敏捷，学习和接受能力强，注重团队协作精神；<br/>3、具开拓创新精神和良好的逻辑思维能力；<br/><br/>工作时间：8：30-17：30，5.5天制，星期六下午、星期天休息；<br/><br/>工作地点：深圳龙岗平湖华南城发展中心2118<br /><br />联系我时，请说是在深圳招聘网上看到的，谢谢！
            </div>
        </div>
        <div class="WhiteBox">
            <div class="Title EntContact Orange">
                联系方式
                 <a id="ctl00_ContentPlaceHolder1_hyBaiduLink" class="BaiduIcon" href="javascript:void(0)https://m.baidu.com/s?word=汕头海信发展有限公司" target="_blank"></a>
            </div>
            <div id="divEntContact" class="Content">
                <div class="Item">
                    <div class="LeftTitle">联&nbsp;系&nbsp;人：</div>
                    倪小姐
                </div>
                <div class="Item">
                    <div class="LeftTitle">联系电话：</div>
                    <a href="javascript:void(0)tel:0754-88168609">0754-88168609</a>
                </div>
                <div class="Item">
                    <div class="LeftTitle">联系地址：</div>
                    广东省汕头市榕江路金华大厦4楼
                    <a id="ctl00_ContentPlaceHolder1_hlMap" class="geo_warp" href="javascript:void(0)BaiduMapShow.aspx?entsn=23398&amp;FairId=0"></a>
                </div>
                <div class="Item"><div class="LeftTitle">传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真：</div>0754-88161850</div><div class="Item"><div class="LeftTitle">公交线路：</div>可乘坐10、24号公交车到金珠花园站落车，步行到金华大厦。</div>
            </div>
            <div class="JobTips">面试过程中，遇到用人单位收取费用，请提高警惕</div>
        </div>
        <div class="OtherJob"><div class="Title">智能推广</div><div class="clearfix"><a class="Item" href="javascript:void(0)showjob_1737021.aspx?id=22707&iscompete=true&lx=2&FairId=0"><div class="Name">司机/驾驶员</div>[ 深圳南山区 ]</a></div><a class="More" href="javascript:void(0)/search/offer_search_result.aspx?city=101300&jobtype=12003">点击查看更多相关职位</a></div>
        <div style="height: 45px;"></div>
        <div class="Operation">
            <a id="ctl00_ContentPlaceHolder1_hlCallMe" class="Item" app="1" appmess="Tel:0754-88168609" href="javascript:void(0)tel:0754-88168609">
                <img alt="" src="img/phone.png" class="VipIcon16" /><br />联系我
            </a>
            <a id="ctl00_ContentPlaceHolder1_hlTalk" class="Item" app="1" onclick="javascript:void(0)AddTalkList(&#39;ent23398&#39;)" appmess="Talk:ent23398" style="background:#ff9900;">
               <img alt="" src="img/News.png" class="VipIcon13" /><br />咨询
            </a>
            <a id="ctl00_ContentPlaceHolder1_hlFavor" class="Item" app="1" onclick="javascript:void(0)ShowDivSlide(&#39;addfavor&#39;,&#39;/jw/addfavor.aspx?jobsn=3492996&#39;)" appmess="Favor:3492996">
               <img alt="" src="img/d02.png" class="VipIcon13" /><br />收藏
            </a>
            <a id="ctl00_ContentPlaceHolder1_hlShare" class="Item" app="1" onclick="javascript:void(0)ShareClick()">
               <img alt="" src="img/d04.png" class="VipIcon15" /><br />分享
            </a>
            <a id="ctl00_ContentPlaceHolder1_hlGetJob" class="Item" app="1" onclick="javascript:void(0)ShowDivSlide(&#39;GetJob&#39;,&#39;/jw/GetJob.aspx?id=3492996&#39;)" appmess="Apply:3492996" style="background:#ff9900;">
               <img alt="" src="img/d01.png" class="VipIcon12" /><br />应聘
            </a>
        </div>
    
</div>
    
    

<script type="text/javascript">
    AddStyle("/style/Share.css?ver=10508", "Share");
    $(function () {
        if ('0' == '1') {
            wxShareBtn(1);
        }
        
        $("#divShareBtn").click(function () {
            ShareClick();
        });
        
        $(".fxCancel").click(function () {
            $(".blackbg").hide();
            $(".fxBg").animate({ bottom: "-310px" }, function () {
                $(".fxBg").hide();
            });
            $(".bdsharebuttonbox").animate({ bottom: "-310px" }, function () {
                $(".bdsharebuttonbox").hide();
            });
        });
    });

    function ShareClick() {
        $(".blackbg").show();
        $(".fxBg").show().animate({ bottom: "0px" });
        $(".bdsharebuttonbox").show().animate({ bottom: "50px" });
    }
</script>
<div class="blackbg"></div>
<div class="fxBg">
    <div class="fxCancel">取 消</div>
</div>
<div class="bdsharebuttonbox" data-tag="share_1">
    <!-- 此处添加展示按钮 -->
    <a class="bds_weixin" data-cmd="weixin">微信</a><a class="bds_tsina" data-cmd="tsina">新浪微博</a><a class="bds_tqq" data-cmd="tqq">腾讯微博</a><a class="bds_renren" data-cmd="renren">人人网</a><a class="bds_qzone" data-cmd="qzone" href="javascript:void(0)#">QQ空间</a><a class="bds_douban" data-cmd="douban">豆瓣网</a><a class="bds_mail" data-cmd="mail">邮件分享</a>
</div>
<script type="text/javascript">
    window._bd_share_config = {
        //此处添加分享具体设置
        common: {
            bdText: '专用组销售代表（深圳）-汕头海信发展有限公司',
            bdUrl: 'http://m.hr0755.com/jw/showcompany.aspx?entsn=23398&jobsn=3492996',
            bdDesc: '招聘人数1人。职责描述负责公司塑料原料销售市场的开拓，目标客户的寻找，渠道的维护。任职要求1性别不限，年龄2035周岁2思维敏捷，学习和接受能力强，注重团队协作精神3具开拓创新精神和良好的逻辑思维能力工作时间830-1730，5.5天制，星期六下午星期天休息工作地点深圳龙岗平湖华南城发展中心2118',
            bdPic: 'http://www.bczp.cn/weixin/getheadimg.jpg'
        },
        share: [{
            "tag": "share_1",
            "bdSize": 32,
            "bdStyle": "0"
        }]
    };
    AddScript("http://bdimg.share.baidu.com/static/api__STATIC__/js/share.js?cdnversion=" + ~(-new Date() / 36e5) + "", "BdShare1");
</script>
<script type="text/javascript">$(".bds_mail").click(function () {window.location.href="javascript:void(0)/jw/SendFriend.aspx?entsn=23398&jobsn=3492996";return false;});</script>

    

    <script type="text/javascript">
        $(function () {
            window.glogal_location = function (d) {
                //IsSession 为 true 情况
                if (d.city && d.bczp_citycode && d.bczp_citycode != 0&&d.geodist&&d.geodist_int&&d.geodist_int<100000) {
                    //地址有效,代码这里输出
                    $(".geo_warp")&& $("<span>"+d.geodist+"</span>").appendTo(".geo_warp");
                    
                    //vip
                    $(".vipjob_geo_warp")&& $("<a class='GetGeodist_vip' href='/jw/BaiduMapShow.aspx?entsn=23398'>距离:"+d.geodist+"</a>").appendTo(".vipjob_geo_warp");
                }
            };
            var e = {
                lng: 116.724639,
                lat: 23.374148
                };
            window.GetMyAddress(e);
            
        });
        


    </script>
    
        </div>
        <div id="mcover" onclick="javascript:void(0) document.getElementById('mcover').style.display = 'none'; " style="display: none; z-index: 10001; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); text-align: right;">
            <img src="/images/wxguide.png">
        </div>
        <div id="mcover_txt" onclick="javascript:void(0) document.getElementById('mcover_txt').style.display = 'none'; " style="display: none; z-index: 10001; position: fixed; top: 0px; left: 0px; width: 80%; height: 100%; text-align: left; padding-top: 20%; padding-left: 10%; padding-right: 10%; color: #fff; background: rgba(0, 0, 0, 0.65); font-size: 1.1rem; line-height: 1.8; text-shadow: 3px 3px 3px #1b1b1b; word-break: break-all;"></div>
        
        <p id="back-to-top" class="back-to-top">
            <a href="javascript:void(0)javascript:goTab();"><span class="icon icon-eject"></span></a>
        </p>
        
        <img src="http://c.cnzz.com/wapstat.php?siteid=1252945121&r=http%3a%2f%2fm.hr0755.com%2flike.aspx&rnd=999264619" width="0" height="0" alt="" />
       
        

    </form>
<script type="text/javascript">       /*创建于2016-06-14*/       var cpro_id = "u2671677"; </script> <script src="http://cpro.baidustatic.com/cpro/ui/cm.js" type="text/javascript"></script>
</body>
</html>
