<form name="aspnetForm" method="post" action="./" id="aspnetForm">
    <div>
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMjA4Nzk5Njg4NWRkwNocMeNTUd5Rk2e8HZhULUEmPJt3oLFQxM+mu3drkWk=" />
    </div>

    <script src="__STATIC__js/jquery.public.js" type="text/javascript"></script>
    <script src="__STATIC__js/jquery.ajaxtips.js" type="text/javascript"></script>
    <div>

        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="90059987" />
    </div>
    <div id="loadings">
        <div>
            页面加载中
        </div>
    </div>

    <!--<div id="Div1" class="header">-->
        <!--<a href="javascript:void(0)/index.aspx">-->
            <!--<img src="__STATIC__/img/0755.png" style="height: 40px" alt="深圳招聘网" />-->
        <!--</a>-->
        <!--<div id="ctl00_login_btn" class="login_btn loginicon">-->
            <!--<a style="padding-left: 30px;" href="javascript:void(0)/login/jwlogin.aspx">登录</a> |-->
            <!--<a href="javascript:void(0)/ChooseReg.aspx">注册</a>-->
        <!--</div>-->
        <!--<a href="javascript:void(0)#" id="ctl00_userName" class="userName"></a>-->
    <!--</div>-->

    <div id="EntPage">
    </div>
    <div class="fullscreen">
        <!-- 搜索界面 -->
        <div class="FullSearchBg">
            <div class="SearchBar">
                <input name="ctl00$ContentPlaceHolder1$keyword" type="text" id="ctl00_ContentPlaceHolder1_keyword" class="SearchInput" speech="" x-webkit-speech="" lang="zh-CN" placeholder="请输入地址" autocomplete="off" suggestion="{inputid:&#39;ctl00_ContentPlaceHolder1_keyword&#39;,containerid:&#39;suggest&#39;,url:&#39;/search.ashx&#39;,para:&#39;ctl00_ContentPlaceHolder1_keyword&#39;,paracallback:function(){return { searchtype:!$(&quot;#SearchType&quot;).html(&quot;找工作&quot;)?2:1,jcity1Hidden:escape($(&#39;#ctl00_ContentPlaceHolder1_cityHidden&#39;).val())}},entercallback:function(){$(&#39;#search&#39;).click();}}" />
                <input type="button" value="搜索" id="search" class="SearchBtn" style="display: none;" />
                <div id="closeSearch" class="SearchBtn">关闭</div>
            </div>
            <div style="height: 35px;">
                <div class="TabItem Selected" key="keyword">热门关键字</div>
                <div class="TabItem" key="log">搜索历史</div>
            </div>
            <div id="SearchHotKey">
                <div class="HotJob" id="hotjob1">
                    <div class="JobContent">
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=普工&city=101300'>普工</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=文员&city=101300'>文员</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=司机&city=101300'>司机</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=会计&city=101300'>会计</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=销售&city=101300'>销售</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=学徒&city=101300'>学徒</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=跟单&city=101300'>跟单</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=外贸&city=101300'>外贸</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=CNC&city=101300'>CNC</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=业务员&city=101300'>业务员</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=仓管&city=101300'>仓管</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=兼职&city=101300'>兼职</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=采购&city=101300'>采购</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=小车司机&city=101300'>小车司机</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=电工&city=101300'>电工</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=平面设计&city=101300'>平面设计</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=实习&city=101300'>实习</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=助理&city=101300'>助理</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=营业员&city=101300'>营业员</a>
                        <a href='javascript:void(0)/search/offer_search_result.aspx?keyword=模具&city=101300'>模具</a>
                    </div>
                </div>
                <div class="HotJob" id="hotresume1" style="display: none">
                    <div class="JobContent">
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=普工&city=101300'>普工</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=销售&city=101300'>销售</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=司机&city=101300'>司机</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=电子&city=101300'>电子</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=外贸&city=101300'>外贸</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=瀛熷窘&city=101300'>瀛熷窘</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=澶栬锤&city=101300'>澶栬锤</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=文员&city=101300'>文员</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=电子工程师&city=101300'>电子工程师</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=闁跨喐鏋婚幏鐑芥晸閺&city=101300'>闁跨喐鏋婚幏鐑芥晸閺</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=模具设计&city=101300'>模具设计</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=鐢靛瓙&city=101300'>鐢靛瓙</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=业务员&city=101300'>业务员</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=会计&city=101300'>会计</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=外贸业务员&city=101300'>外贸业务员</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=平面设计&city=101300'>平面设计</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=外贸业务&city=101300'>外贸业务</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=销售代表&city=101300'>销售代表</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=CNC&city=101300'>CNC</a>
                        <a href='javascript:void(0)/ent/resume_search_result.aspx?keyword=质检员&city=101300'>质检员</a>
                    </div>
                </div>
            </div>
            <div id="SearchLog" style="display: none;">
                <div id="JobLog">

                    <div class="SearchHistoryItem" style="text-align:center; text-indent:0;">暂时还没有搜索记录</div>
                </div>
                <div id="ResLog" style="display: none;">

                    <div class="SearchHistoryItem" style="text-align:center; text-indent:0;">暂时还没有搜索记录</div>
                </div>
            </div>
        </div>
        <!-- 结束 -->
        <!-- 首页显示 -->
        <div class="IndexSearch">
            <div class="SearchBg">
                <div class="SearchInput">请输入驾校名称</div>
                <div class="SearchType" onclick='ClickDrop(this)'>找驾校</div>
                <input type="hidden" name="ctl00$ContentPlaceHolder1$cityHidden" id="ctl00_ContentPlaceHolder1_cityHidden" value="101300" />
            </div>
        </div>
        <!-- 结束 -->
        <!-- 滚动图 -->
        <!--<div class="swiper-container">-->
            <!--<div class="swiper-wrapper">-->
                <!--<div class="swiper-slide"><a href="javascript:void(0)/adv/adtrace.aspx?id=87466"  target="_blank"><img src="__STATIC__/img/131142582227539392.jpg"/></a></div>-->
                <!--<div class="swiper-slide"><a href="javascript:void(0)/adv/adtrace.aspx?id=86753"  target="_blank"><img src="http://pic.hr0755.com/uploadfiles/pic/0755/logo_upfiles/131135664537844998.jpg"/></a></div>-->
                <!--<div class="swiper-slide"><a href="javascript:void(0)/adv/adtrace.aspx?id=81915"  target="_blank"><img src="http://pic.hr0755.com/uploadfiles/pic/0755/logo_upfiles/130998949231380730.gif"/></a></div>-->
            <!--</div>-->
            <!--<div class="pagination"></div>-->
        <!--</div>-->
        <!-- 结束 -->


    <input type="hidden" name="ctl00$ContentPlaceHolder1$hfTheTop" id="ctl00_ContentPlaceHolder1_hfTheTop" value="True" />
    <script type="text/javascript">
        //获取高度和宽度并初始化内容层
        var mainWidth = $("#tabContent .list").width();
        var maxCount = $("#tabContent .list").length;
        $("#tabContent").width(mainWidth * maxCount);
        $("#tabContent").height($("#tabContent .list")[0].clientHeight);
        $("#tabContent .list").each(function (i) {
            $($("#tabContent .list")[i]).width(mainWidth);
        });
        //var mainWidth1 = $("#jobContent .list").width();
        var maxCount1 = $("#jobContent .list").length;
        $("#jobContent").width(mainWidth * maxCount1);
        $("#jobContent").height($("#jobContent .list")[0].clientHeight);
        $("#jobContent .list").each(function (i) {
            $($("#jobContent .list")[i]).width(mainWidth);
        });
        var maxCount2 = $("#hotOContent .list").length;
        $("#hotOContent").width(mainWidth * maxCount2);
        $("#hotOContent").height($("#hotOContent .list")[0].clientHeight);
        $("#hotOContent .list").each(function (i) {
            $($("#hotOContent .list")[i]).width(mainWidth);
        });
        var maxCount3 = $("#hotOContent .list").length;
        $("#hotRContent").width(mainWidth * maxCount3);
        $("#hotRContent").height($("#hotOContent .list")[0].clientHeight);
        $("#hotRContent .list").each(function (i) {
            $($("#hotRContent .list")[i]).width(mainWidth);
        });

        $(function () {
            window.GetMyAddress();
            //LoadPicAdv("AnonymousAdv1", "/images/Activity/Circle/Step1.jpg", "/Circle/AnonymousList.aspx");
        });
    </script>

    </div>
    <div id="mcover" onclick="javascript:void(0) document.getElementById('mcover').style.display = 'none'; " style="display: none; z-index: 10001; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); text-align: right;">

    </div>
    <div id="mcover_txt" onclick="javascript:void(0) document.getElementById('mcover_txt').style.display = 'none'; " style="display: none; z-index: 10001; position: fixed; top: 0px; left: 0px; width: 80%; height: 100%; text-align: left; padding-top: 20%; padding-left: 10%; padding-right: 10%; color: #fff; background: rgba(0, 0, 0, 0.65); font-size: 1.1rem; line-height: 1.8; text-shadow: 3px 3px 3px #1b1b1b; word-break: break-all;"></div>
    <!--<div id="ctl00_footer_function" class="footer1">-->
    <!--<span>-->
    <!--<a href="javascript:void(0)/ChooseReg.aspx" class="login_Kuan" style="margin-right: 10px">注册</a>-->
    <!--<a href="javascript:void(0)/login/jwlogin.aspx" class="login_Kuan">登陆</a>-->
    <!--</span>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="footer2">-->

    <!--<span class="BottomMenu">-->
    <!--<a href="javascript:void(0)/download.aspx">手机客户端</a> |-->

    <!--<a href="javascript:void(0)http://hr0755.com?touch=1">电脑版</a> |-->

    <!--<a href="javascript:void(0)/FeedBack.aspx">用户反馈</a></span><br />-->
    <!--<span style="margin-top: 10px; display: block;">All Rights Reserved&nbsp;hr0755.com&nbsp;版权所有-->

    <!--</span>-->

    <!--</div>-->


</form>
<style type="text/css">
    body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    #l-map{height:100%;width:78%;float:left;border-right:2px solid #bcbcbc;}
    #r-result{height:100%;width:20%;float:left;}
</style>
<div id="allmap"></div>
    <script type="text/javascript">
        // 百度地图API功能
        // 百度地图API功能
        map = new BMap.Map("allmap");
        map.centerAndZoom(new BMap.Point(108.198382,22.845024), 18);
        var data_info = [
            [108.198382,22.845024,
                "<div><p>地址:广西壮族自治区南宁市江南区洪运路</p>" +
                "<p>" +
                "<a href='http://www.diuber.com'><button  style='background-color: #ffad33; /* Green */border-radius: 2px;color: white;margin-right:10px;padding:10px 20px;text-align:center;text-decoration:none;display:inline-block;font-size: 12px;'>链接</button></a>" +
                "<a href='http://www.diuber.com'><button  style='background-color: #ffad33; /* Green */border-radius: 2px;color: white;margin-right:10px;padding:10px 20px;text-align:center;text-decoration:none;display:inline-block;font-size: 12px;'>导航</button></a>" +
                "<a href='http://www.diuber.com'><button  style='background-color: #ffad33; /* Green */border-radius: 2px;color: white;margin-right:10px;padding:10px 20px;text-align:center;text-decoration:none;display:inline-block;font-size: 12px;'>电话</button></a>" +
                "</p>" +
                "</div>"
            ],

            [108.178386,22.865023,"<a href='http://www.diuber.com'>地址：北京市东城区东华门大街"],
            [108.218389,22.846034,"地址：北京市东城区正义路甲5号"]
        ];
        var opts = {
            width : 270,     // 信息窗口宽度
            height: 150,     // 信息窗口高度
            title : "南宁强大驾校" , // 信息窗口标题
            enableMessage:true//设置允许信息窗发送短息
        };
        for(var i=0;i<data_info.length;i++){
            var marker = new BMap.Marker(new BMap.Point(data_info[i][0],data_info[i][1]));  // 创建标注
            var content = data_info[i][2]+ data_info[i][3];
            map.addOverlay(marker);               // 将标注添加到地图中
            addClickHandler(content,marker);
        }
        function addClickHandler(content,marker){
            marker.addEventListener("click",function(e){
                openInfo(content,e)}
            );
        }
        function openInfo(content,e){
            var p = e.target;
            var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
            var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象
            map.openInfoWindow(infoWindow,point); //开启信息窗口
        }
     map.enableScrollWheelZoom(true);
</script>

