



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>猜您喜欢 | 深圳招聘网-人气旺访问量高的深圳人才网站,每天提供最新深圳人才市场信息,深圳招聘会信息,深圳人才求职信息！</title>
    <meta name="description" content="深圳招聘网HR0755——专业的深圳人才网站、人气飙升的深圳人才网站,深圳企业招聘、深圳人才求职首选平台，网上的深圳人才市场!招聘热线:400-777-3001." />
    <meta name="keywords" content="深圳招聘,深圳人才,深圳求职,深圳找工作,深圳企业招工" />
    <meta name="searchtitle" content="深圳招聘,深圳人才,深圳求职,深圳找工作,深圳企业招工" />
    <meta http-equiv="Content-Type " content="text/html; charset=gb2312" />
    <meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <meta name="MobileOptimized" content="240" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta name="baidu-site-verification" content="ZK2EdcboS3" />
    <meta name="wap-font-scale" content="no">
    <link rel="apple-touch-icon" href="javascript:void(0)/images/57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="javascript:void(0)/images/72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="javascript:void(0)/images/114.png" />
    <link rel="apple-touch-icon" sizes="145x145" href="javascript:void(0)/images/145.png" />
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/jquery.plugins.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/global.js?ver=10508"></script>
      
    <script type="text/javascript" src="js/strophe.js?ver=10508"></script>
    <script type="text/javascript" src="js/json2.js?ver=10508"></script>
    <script type="text/javascript" src="js/easemob.im-1.0.7.js?ver=10508"></script>
    <script type="text/javascript" src="js/easemob.im.config.js?ver=10508"></script>
    <script type="text/javascript" src="js/IM.js?ver=110508"></script>
    
    <link href="css/global.css?ver=10508" rel="stylesheet" type="text/css" />
    <link href="css/IM.css?ver=10508" rel="stylesheet" type="text/css" />
    
    
    <link href="css/FastIn.css?ver=10508" rel="stylesheet" />
    <script type="text/javascript" src="js/FastIn.js?ver=10508"></script>

</head>
<body>
    <form name="aspnetForm" method="post" action="./like.aspx" id="aspnetForm">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE1MDE3NDcxNDRkZLb1SabwDk2k+RnXvkMKTvR/T9DE/+oazyhdgvCMKWR6" />
</div>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="1306EAB7" />
</div>
        <div id="loadings">
            <div>
                页面加载中
            </div>
        </div>
        
        <div id="Div1" class="header">
            <a href="javascript:void(0)/index.aspx">
                <img src="img/0755.png" style="height: 40px" alt="深圳招聘网" />
            </a>
            <div id="ctl00_login_btn" class="login_btn loginicon">
                <a style="padding-left: 30px;" href="javascript:void(0)/login/jwlogin.aspx">登录</a> |
                <a href="javascript:void(0)/ChooseReg.aspx">注册</a>
            </div>
            <a href="javascript:void(0)#" id="ctl00_userName" class="userName"></a>
        </div>
        
        <div id="EntPage">
        </div>
        <div class="fullscreen">
            
    <div style="margin-top: -20px;">
        
                <div class="FastInJobItem">
                    <div class="Money">
                        面议
                    </div>
                    <a href="article.com" id="ctl00_ContentPlaceHolder1_repLike_ctl00_joburl" class="Content">
                        <div class="JobName">
                            专用组销售代表（深圳）
                        </div>
                        <div class="EntName">
                            汕头海信发展有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">年假</div><div class="EntFl">年终奖</div><div class="EntFl">工作餐</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">社会保险</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳龙岗区【懒人模板制作】
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3492996)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3492996')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3492996')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        面议
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3328587.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl01_joburl" class="Content">
                        <div class="JobName">
                            招商经理
                        </div>
                        <div class="EntName">
                            汕头海信发展有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">年假</div><div class="EntFl">年终奖</div><div class="EntFl">工作餐</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">社会保险</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳龙岗区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3328587)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3328587')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3328587')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        面议
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3328583.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl02_joburl" class="Content">
                        <div class="JobName">
                            房地产销售经理
                        </div>
                        <div class="EntName">
                            汕头海信发展有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">年假</div><div class="EntFl">年终奖</div><div class="EntFl">工作餐</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">社会保险</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳龙岗区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3328583)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3328583')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3328583')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        面议
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3044709.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl03_joburl" class="Content">
                        <div class="JobName">
                            销售主管
                        </div>
                        <div class="EntName">
                            汕头海信发展有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">年假</div><div class="EntFl">年终奖</div><div class="EntFl">工作餐</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">社会保险</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳龙岗区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3044709)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3044709')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3044709')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        面议
                    </div>
                    <a href="javascript:void(0)/jw/showjob_1547410.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl04_joburl" class="Content">
                        <div class="JobName">
                            会计（深圳）
                        </div>
                        <div class="EntName">
                            汕头海信发展有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">年假</div><div class="EntFl">年终奖</div><div class="EntFl">工作餐</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">社会保险</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳龙岗区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(1547410)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=1547410')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=1547410')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        面议
                    </div>
                    <a href="javascript:void(0)/jw/showjob_686434.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl05_joburl" class="Content">
                        <div class="JobName">
                            销售专员（深圳）
                        </div>
                        <div class="EntName">
                            汕头海信发展有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">年假</div><div class="EntFl">年终奖</div><div class="EntFl">工作餐</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">社会保险</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳龙岗区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(686434)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=686434')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=686434')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        面议
                    </div>
                    <a href="javascript:void(0)/jw/showjob_455880.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl06_joburl" class="Content">
                        <div class="JobName">
                            销售助理（深圳）
                        </div>
                        <div class="EntName">
                            汕头海信发展有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">公积金</div><div class="EntFl">年假</div><div class="EntFl">年终奖</div><div class="EntFl">工作餐</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">社会保险</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳龙岗区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(455880)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=455880')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=455880')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        面议
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3585031.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl07_joburl" class="Content">
                        <div class="JobName">
                            销售经理
                        </div>
                        <div class="EntName">
                            广东天亿马信息产业股份有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">每周双休</div><div class="EntFl">年假</div><div class="EntFl">年终奖</div><div class="EntFl">公费旅游</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">社会保险</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳龙华新区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3585031)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3585031')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3585031')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        ￥15000以上
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3578598.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl08_joburl" class="Content">
                        <div class="JobName">
                            营销总监（深圳）
                        </div>
                        <div class="EntName">
                            广东天亿马信息产业股份有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">每周双休</div><div class="EntFl">公积金</div><div class="EntFl">年假</div><div class="EntFl">年终奖</div><div class="EntFl">公费旅游</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">社会保险</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳龙华新区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3578598)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3578598')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3578598')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        面议
                    </div>
                    <a href="javascript:void(0)/jw/showjob_1191961.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl09_joburl" class="Content">
                        <div class="JobName">
                            培训督导
                        </div>
                        <div class="EntName">
                            汕头市维尔美制衣(万康内衣)有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">年终奖</div><div class="EntFl">工作餐</div><div class="EntFl">公费旅游</div><div class="EntFl">公费培训</div><div class="EntFl">优质企业</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳福田区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(1191961)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=1191961')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=1191961')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        ￥2500-3000
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3299674.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl10_joburl" class="Content">
                        <div class="JobName">
                            吧台学徒（深圳店）
                        </div>
                        <div class="EntName">
                            热狗王（汕头）餐饮管理连锁有限公司
                        </div>
                        <div class="EntFl">年假</div><div class="EntFl">年终奖</div><div class="EntFl">工作餐</div><div class="EntFl">公费培训</div><div class="EntFl">社会保险</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳宝安区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3299674)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3299674')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3299674')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        ￥2500-3000
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3299664.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl11_joburl" class="Content">
                        <div class="JobName">
                            西餐学徒（深圳店）
                        </div>
                        <div class="EntName">
                            热狗王（汕头）餐饮管理连锁有限公司
                        </div>
                        <div class="EntFl">年假</div><div class="EntFl">年终奖</div><div class="EntFl">工作餐</div><div class="EntFl">公费培训</div><div class="EntFl">社会保险</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳宝安区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3299664)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3299664')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3299664')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        ￥2500-3000
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3299653.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl12_joburl" class="Content">
                        <div class="JobName">
                            餐厅服务员（深圳店）
                        </div>
                        <div class="EntName">
                            热狗王（汕头）餐饮管理连锁有限公司
                        </div>
                        <div class="EntFl">年假</div><div class="EntFl">年终奖</div><div class="EntFl">工作餐</div><div class="EntFl">公费培训</div><div class="EntFl">社会保险</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳宝安区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3299653)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3299653')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3299653')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        ￥3000-4000
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3299637.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl13_joburl" class="Content">
                        <div class="JobName">
                            储备干部（深圳店）
                        </div>
                        <div class="EntName">
                            热狗王（汕头）餐饮管理连锁有限公司
                        </div>
                        <div class="EntFl">年假</div><div class="EntFl">年终奖</div><div class="EntFl">工作餐</div><div class="EntFl">公费培训</div><div class="EntFl">社会保险</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳宝安区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3299637)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3299637')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3299637')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        面议
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3525603.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl14_joburl" class="Content">
                        <div class="JobName">
                            食堂厨师
                        </div>
                        <div class="EntName">
                            深圳市中联泰能源有限公司
                        </div>
                        <div class="EntFl">年终奖</div><div class="EntFl">工作餐</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳南山区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3525603)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3525603')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3525603')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        ￥5000-7000
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3567199.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl15_joburl" class="Content">
                        <div class="JobName">
                            驻深财务会计
                        </div>
                        <div class="EntName">
                            深圳市中联泰能源有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳坪山新区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3567199)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3567199')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3567199')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        ￥5000-7000
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3569415.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl16_joburl" class="Content">
                        <div class="JobName">
                            深圳急招会计
                        </div>
                        <div class="EntName">
                            深圳市中联泰能源有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳坪山新区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3569415)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3569415')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3569415')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        ￥3000-4000
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3569420.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl17_joburl" class="Content">
                        <div class="JobName">
                            深圳急招出纳
                        </div>
                        <div class="EntName">
                            深圳市中联泰能源有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳坪山新区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3569420)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3569420')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3569420')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        面议
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3574108.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl18_joburl" class="Content">
                        <div class="JobName">
                            南山急招一名食堂厨师
                        </div>
                        <div class="EntName">
                            深圳市中联泰能源有限公司
                        </div>
                        <div class="EntFl">工作餐</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳南山区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3574108)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3574108')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3574108')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
                <div class="FastInJobItem">
                    <div class="Money">
                        ￥2500-3000
                    </div>
                    <a href="javascript:void(0)/jw/showjob_3578103.aspx" id="ctl00_ContentPlaceHolder1_repLike_ctl19_joburl" class="Content">
                        <div class="JobName">
                            驻深急招出纳
                        </div>
                        <div class="EntName">
                            深圳市中联泰能源有限公司
                        </div>
                        <div class="EntFl">高薪职位</div><div class="EntFl">公费培训</div><div class="EntFl">标准工时</div><div class="EntFl">优质企业</div><div class="EntFl">环境优雅</div>
                        <div class="clear"></div>
                        <div class="Region">
                            深圳坪山新区
                        </div>
                        <div class="TimeLeft">
                            1小时内
                        </div>
                        <div class="clear"></div>
                    </a>
                    <div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowShare(3578103)"><em class="ZF"></em>转发</div>
                        <div class="BtnOper" style="width: 30%;" onclick="javascript:void(0)ShowDivSlide('addfavor','/jw/addfavor.aspx?jobsn=3578103')"><em class="SC"></em>收藏</div>
                        <div class="BtnOper" style="width: 40%;" onclick="javascript:void(0)ShowDivSlide('GetJob','/jw/GetJob.aspx?id=3578103')"><em class="YP"></em>马上应聘</div>
                        <div class="clear"></div>
                    </div>
                </div>
            
    </div>
    <div class="list" id="list">
        
    </div>
    <div id="paging">
<span class="bb"><a href="javascript:void(0)#">首页</a></span><span class="bb"><a href="javascript:void(0)#">&lt;&lt;</a></span><span class="bb"><font><select onchange="location.href='/like.aspx?page='+this.value+''"><option selected class="option" value="1">1</option><option  class="option" value="2">2</option><option  class="option" value="3">3</option><option  class="option" value="4">4</option><option  class="option" value="5">5</option><option  class="option" value="6">6</option><option  class="option" value="7">7</option><option  class="option" value="8">8</option><option  class="option" value="9">9</option><option  class="option" value="10">10</option><option  class="option" value="11">11</option></select>1</font></span>
<span class="bb"><a href="javascript:void(0)/like.aspx?page=2">&gt;&gt;</a></span><span class="bb"><a href="javascript:void(0)/like.aspx?page=1329">末页</a></span></div>



        </div>
        <div id="mcover" onclick="javascript:void(0) document.getElementById('mcover').style.display = 'none'; " style="display: none; z-index: 10001; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); text-align: right;">
            <img src="/images/wxguide.png">
        </div>
        <div id="mcover_txt" onclick="javascript:void(0) document.getElementById('mcover_txt').style.display = 'none'; " style="display: none; z-index: 10001; position: fixed; top: 0px; left: 0px; width: 80%; height: 100%; text-align: left; padding-top: 20%; padding-left: 10%; padding-right: 10%; color: #fff; background: rgba(0, 0, 0, 0.65); font-size: 1.1rem; line-height: 1.8; text-shadow: 3px 3px 3px #1b1b1b; word-break: break-all;"></div>
        
        <p id="back-to-top" class="back-to-top">
            <a href="javascript:void(0)javascript:goTab();"><span class="icon icon-eject"></span></a>
        </p>
        
        <img src="http://c.cnzz.com/wapstat.php?siteid=1252945121&r=http%3a%2f%2fm.hr0755.com%2f&rnd=979173031" width="0" height="0" alt="" />
       
        

    </form>
<script type="text/javascript">       /*创建于2016-06-14*/       var cpro_id = "u2671677"; </script> <script src="http://cpro.baidustatic.com/cpro/ui/cm.js" type="text/javascript"></script>
</body>
</html>
