
<!DOCTYPE HTML>
<html>
<head>
    <title>南宁驾校后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__STATIC__admin/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__admin/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__admin/assets/css/main-min.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__admin/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__admin/Css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__admin/Css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__STATIC__admin/JS/jquery.js"></script>
    <script type="text/javascript" src="__STATIC__admin/JS/jquery.sorted.js"></script>
    <script type="text/javascript" src="__STATIC__admin/JS/bootstrap.js"></script>
    <script type="text/javascript" src="__STATIC__admin/JS/ckform.js"></script>
    <script type="text/javascript" src="__STATIC__admin/JS/common.js"></script>
</head>
<body>